.img_nav{
    width: 25px;
} 

/* estilos nav */

.navbar {
    background-color: #3AD29F
}

/**** PAGES ****/
.page{
    display: none;
}

.btn {
    background-color: #3AD29F
}

.hide{
    display: none;
}
.active{
    display: block; 
}
#home{}
   
#list{}

#detail{}

h1{
    font-size: 2rem;
    font-weight: 600;
    transition: all 0.4s;
}
.big{
    font-size: 5rem;
    font-weight: 900;
} 